.footer {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    padding-bottom: 100px;
    &__content {
        display: grid;
        grid-template-columns: minmax(50px, 275px) 2fr minmax(50px, 130px) 1fr minmax(50px, 257px);
    }
    &__content .content {
        &__logo {
            grid-column: 1/2;
            width: 100%;
        }
        &__nav {
            grid-column: 3/4;
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                a {
                    display: block;
                    color:rgba(255, 255, 255, 0.70);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom: 20px;
                    text-decoration: none;
                    &:hover {
                        color: #FFF;
                    }
                }
            }
        }
        &__social {
            grid-column: 5/6;
            &_title {
                color: rgba(255, 255, 255, 0.70);
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                margin-bottom: 20px;
            }
            &_link {
                img {
                    margin-right: 25px;
                    width: 22px;
                    height: 22px;
                    text-decoration: none;
                }
            }
            &_wrapper {
                margin-bottom: 55px;
            }
            &_connect {
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                text-transform: uppercase;
                background: none;
                border-radius: 10px;
                padding: 16px 24px;
                border: 1px solid #FFF;
                cursor: pointer;
            }
        }
    }
    &__right {
        color: rgba(255, 255, 255, 0.30);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-top: 48px;
    }
}